# Runtime data
.cache
.cache/**
.idea/*
.publish/*
.sass-cache/*
.vscode/*
.vscode/**
*.log
# Directory for component built
public
# Dependency directory
node_modules
node_modules/*
# Logs
tmp/*
www/*
.DS_Store
# Directory for bootstrap
_gh_pages/
.github/
_site
package-lock.json
yarn.lock
.htaccess
